@font-face {
  font-family: 'AlimamaShuHeiTi';
  src: url('@/assets/fonts/AlimamaShuHeiTi-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans-SemiBold';
  src: url('@/assets/fonts/OpenSans-Semibold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Source Han Sans CN-Regular';
  src: url('@/assets/fonts/SourceHanSansCN-Regular.otf');
  font-display: swap;
}
@font-face {
  font-family: 'D-DIN-Regular';
  src: url('@/assets/fonts/D-DIN.otf');
  font-display: swap;
}
@font-face {
  font-family: 'Exp-DINExp-Bold';
  src: url('@/assets/fonts/D-DINExp-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Exp-DINExp-Italic';
  src: url('@/assets/fonts/D-DINExp-Italic.otf');
  font-display: swap;
}
